<div class="manuscript col-5 offset-1">
      <%= image_tag @article.manuscript, class: 'd-block img-fluid' %>
</div>

<div class="words">
<div class="formy col-7 offset-4">
    <p>
        <%= @article.title %>
    </p>
    <p>
        <%= @article.text %>
    </p>
    <ul class='text-right'>
      <%= link_to 'B', articles_path %>
    <br />
      <%= link_to 'E', edit_article_path(@article) %>
    <br />
      <%= link_to 'D', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
</div>
</div>
