<!DOCTYPE html>
<html>
  <head>
    <title>Cloudyinscriptions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <div class="navigation">
      <div class="blog-name text-center">
        <li>
        <%= link_to 'CLOUDYiNSCRIPTIONS', root_path, class: 'title' %> 
        </li>
      </div>
      <div class="nav-items text-right">
        <ul>
          <li class='options'>
            <%= link_to 'NEW SCRIPT FOR THE SKY', new_article_path %>
          </li>
          <li class='options'>
           <%= link_to '...OR FLY HOME', articles_path %>
          </li>
        </ul>
      </div>
  </div>

    <%= yield %>
  </body>
</html>
